.exercise-box {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px; 
    background-color: #f0f0f0; 
    margin-bottom: 20px; 
  }
  

  @media (max-width: 767px) {
    .exercise-box {
      width: calc(50% - 20px); 
    }
  }
  